{
	"plugins": ["@typescript-eslint"],
	"extends": [
		"plugin:@typescript-eslint/recommended",
		"plugin:prettier/recommended"
	],
 	"parser": "@typescript-eslint/parser",
	"rules": {
		"prettier/prettier": "error"
	},
	"env": {
		"node": true,
		"commonjs": true,
		"es6": true,
		"jest": true
	},
	"settings": {
		"import/resolver": {
			"node": {
				"extensions": [".js", ".json"],
				"moduleDirectory": ["node_modules", "src"]
			}
		}
	},
	"globals": {
		"localStorage": true
	}
}
